!!!
/[if lt IE 7] <html class='no-js lt-ie9 lt-ie8 lt-ie7' lang='fr'>
/[if IE 7] <html class='no-js lt-ie9 lt-ie8' lang='fr'>
/[if IE 8] <html class='no-js lt-ie9' lang='fr'>
/ [if gt IE 8]><!
%html.no-js(lang='fr')
  / <![endif]
  %head
    %meta(charset='utf-8')/
    %meta(content='IE=edge,chrome=1' http-equiv='X-UA-Compatible')/
    / Use title if it's in the page YAML frontmatter
    %title= current_page.data.title || 'Typographie à votre façon'
    %meta(content='' name='description')/
    %meta(content='width=device-width' name='viewport')/

    %link(rel='shortcut icon' href='favicon.png')
    %link(rel='icon' type='image/ico' href='favicon.ico')

    = stylesheet_link_tag 'normalize', 'main', 'look', '../style'

    = javascript_include_tag '//code.jquery.com/jquery-1.11.0.min.js'
    :javascript
      window.jQuery || document.write('<script src="js/vendor/jquery-1.11.0.min.js"><\/script>')
    = javascript_include_tag 'vendor/modernizr-2.6.1.min.js', 'plugins',
      '../script'

  %body(class="#{page_classes}")
    = yield
