@import "compass"
@import "font-awesome"

html
  background-color: black

body
  width: 50em
  margin: 0 auto
  text-align: center
  font-family: serif
  padding-bottom: 1em
  background-color: #eee
  @include border-top-right-radius(200% 11em)

h1
  color: white
  width: 100%
  padding: 0.6em 0
  letter-spacing: 3px
  background-color: #555
  @include box-shadow(0 0 1em gray)
  @include text-shadow(1px 1px 1px black)
  @include border-top-right-radius(200%)
  @include border-bottom-left-radius(200%)
  em
    color: red

p, blockquote, ul, ol
  width: 40em
  margin: 0 auto 1em
  padding: 0
  max-width: 95%
  text-align: justify

blockquote
  width: 23em
  padding: 1em
  background-color: lightgray
  @include box-shadow(0 0 1em gray)
